/* Variables CSS para colores */
:root {
    --color-uno: #254454;
    --color-dos: #F0F4F8;
    --color-tres: #276177;
    --color-cuatro: #D1DCE6;
    --color-cinco: #8E9BE8;
    --color-seis: #C7BEDB;
    --color-siete: #F61507;
    --color-ocho: #406f81;
}

html {
    height: 100%;
}

/* Degradado y imagen de fonto*/
body {
    background-image: linear-gradient(to bottom, var(--color-cuatro) 0%, var(--color-cinco) 50%, var(--color-seis) 100%);
    margin: 0;
    background-repeat: repeat, no-repeat;
    background-size: cover, cover;
    background-position: center center, center center;
    background-attachment: scroll, fixed;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    color: var(--color-uno); 
    line-height: 1.6; 
    width: 100%;
    height: 100%;
}

/* Para que ocupe toda la ventana y se mantenga fijo */
.background-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(1px);
}



