/* Adaptación de VisFactura.css a CSS Module */
:root {
    --color-uno: #254454;
    --color-dos: #F0F4F8;
    --color-tres: #276177;
    --color-cuatro: #D1DCE6;
    --color-cinco: #8E9BE8;
    --color-seis: #C7BEDB;
    --color-siete: #F61507;
    --color-ocho: #406f81;
}

.visFactura {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.visForm {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 40px;
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.searchBar {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchBarInput {
    padding: 8px 12px;
    border: 1px solid var(--color-cuatro);
    border-radius: 5px;
    background-color: var(--color-dos);
    color: var(--color-uno);
    font-size: 14px;
}
.searchBarIcon {
    color: var(--color-uno);
    font-size: 18px;
    cursor: pointer;
}
.inventoryTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.inventoryTableTh,
.inventoryTableTd {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 0cm;
    border-right: 0cm;
    padding: 10px;
    text-align: left;
    color: var(--color-uno);
}
.inventoryTableTh {
    background-color: rgba(37, 68, 84, 0.1);
    font-weight: bold;
}
.inventoryTableTrEven {
    background-color: rgba(255, 255, 255, 0.05);
}
.barraBusquedaCompleta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.filtroBusquedaSelect {
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--color-cuatro);
    background-color: var(--color-dos);
    color: var(--color-uno);
}
.barraBusqueda {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
}
.barraBusquedaInput {
    width: 100%;
    padding: 8px 12px 8px 12px;
    border-radius: 5px;
    border: 1px solid var(--color-cuatro);
    background-color: var(--color-dos);
    color: var(--color-uno);
    font-size: 14px;
}
.barraBusquedaIcon {
    position: absolute;
    right: 10px;
    color: var(--color-uno);
    font-size: 16px;
    cursor: pointer;
}
.calendarioBusquedaInput {
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--color-cuatro);
    background-color: var(--color-dos);
    color: var(--color-uno);
}
